/*Font face "Pacifico Regular"*/

@font-face {
    font-family: 'PacificoRegular';
    src: url('../fonts/PacificoRegular/PacificoRegular.eot');
    src: url('../fonts/PacificoRegular/PacificoRegular.eot') format('embedded-opentype'), url('../fonts/PacificoRegular/PacificoRegular.woff2') format('woff2'), url('../fonts/PacificoRegular/PacificoRegular.woff') format('woff'), url('../fonts/PacificoRegular/PacificoRegular.ttf') format('truetype'), url('../fonts/PacificoRegular/PacificoRegular.svg#PacificoRegular') format('svg');
}


/*Font face "Opens Sans Semibold"*/

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/Open_Sans_semibold/OpenSansSemibold.eot');
    src: url('../fonts/Open_Sans_semibold/OpenSansSemibold.eot') format('embedded-opentype'), url('../fonts/Open_Sans_semibold/OpenSansSemibold.woff2') format('woff2'), url('../fonts/Open_Sans_semibold/OpenSansSemibold.woff') format('woff'), url('../fonts/Open_Sans_semibold/OpenSansSemibold.ttf') format('truetype'), url('../fonts/Open_Sans_semibold/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}