@import "vars";
@import "fonts";
@import "libs";

img {
	max-width: 100%;
	height: auto;
}

p {
	padding: 0;
	margin: 0;
}

.header {
	margin-top: 15px;
	margin-bottom: 15px;
}
.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	&__photo {
		display: block;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		margin-right: 15px;
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #4a4a4a;
		font-family: 'Lobster', cursive;
		font-size: 18px;
		line-height: 1.5;
		&:hover, &:active, &:focus {
			color: #000;
		}
	}
}

.h1 {
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 4.8px;
	white-space: nowrap;
	font-size: 14px;
}

.h2 {
	font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 0;
	padding-top: 15px;
	padding-bottom: 10px;
	margin: 15px 0 35px;
	border-bottom: 1px solid #e6e5e6;
	color: #4a4a4a;
}

.header-screen {
	position: relative;
	margin: 15px 0;
	display: flex;
	align-items: stretch;
	background: #e2e2e2;
	&__bg {
		background: url('../img/header-screen__bg.png') right  center/contain no-repeat;;
		display: flex;
		align-items: center;
		// filter: grayscale(100%);
	}
	&__text {
		padding-top: 30px;
		padding-bottom: 30px;
		height: 100%;
	}
	&__undertitle {
		text-transform: uppercase;
		font-size: 12px;
		display: inline-flex;
	}
}

.portfolio  {
	&__elem {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;
		filter: grayscale(100%);
		border: 1px solid rgb(165, 165, 165);
		position: relative;
		&:hover {
			filter: grayscale(0);
			box-shadow: 8px 8px 0px 0px #e6e5e6;
		}
	}
	&__button {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
	}
	&__text{
			position: absolute;
			letter-spacing: 5px;
			font-size: 18px;
			color: white !important;
			background-color: #000;
			padding: 10px 15px;
	}
	&__sitename {
		text-transform: uppercase;
	}
	&__description {
		font-size: 12px; 
		text-transform: uppercase;
	}
}

.menu {
	* {
		transform: all ease-in-out .2s;
	}
		flex-direction: column;
		align-items: flex-starts;
		justify-content: center;
	&__link {
		color: #777777;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 1.05px;
		text-decoration: none;
	}
	&__link_active, &__link:active, &__link:hover {
		color: #000000;
		font-weight: 700;
		text-decoration: none;
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		&:hover {
			.menu__outer {
				right: 0%;
			}
		}
	}
	&__outer {
		position: fixed;
		right: -100%;
		display: flex;
		
	}
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	&__item {
		margin: 0;
		padding: 0;
	}
}

.portfolio-menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	&__elem {
		display: flex;
	}
}

.socials {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-evenly;
	align-items: center;
	max-width: 770px;	
	&__item  {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__link {
		font-size: 0;
		display: block;
		width: 30px;
		height: 30px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		&_mail {
			background-image: url('../img/socials__email.svg');
		}
		&_vk {
			background-image: url('../img/socials__vk.svg');
		}
		&_ig {
			background-image: url('../img/socials__ig.svg');
		}
		&_codepen {
			background-image: url('../img/socials__codepen.svg');
		}
		&_github {
			background-image: url('../img/socials__github.svg');
		}
	}
}

.footer {
	box-shadow: 0 -3px 5px 1px rgba(138, 138, 138, 0.1);
	padding-top: 64px;
	margin-top: 30px;
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 44px;
	}
	&__copyright {
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		display: flex;
		justify-content: center;
	}
	&__socials-wrapper {
		border: 1px solid #ebebeb;
		padding: 25px 0;
	}

	&__copyright-link {
		color: #4a4a4a;
		text-decoration: underline;
		&:hover, &:focus, &:active {
			color: #4a4a4a;
			text-decoration: none;
		}
	}
	&__copyright-text {
		margin: 10px 0;
	}
}


@import "media"; // Always at the end
