@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/Gotham-Pro/GothaProBol.woff2') format('woff2'), url('../fonts/Gotham-Pro/GothaProBol.woff') format('woff');
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.woff2?67332414') format('woff2'), url('../fonts/fontello/fontello.woff?67332414') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600.700');