@media (max-width: 1366px) {
  .portfolio h1 {
    margin: 0 auto;
    top: 0;
  }
  .person {
    width: 850px;
  }
}

@media (max-width: 1280px) {
  .wrap,
  .wrap,
  .wrap {
    width: 930px;
    margin: 0 auto;
  }
  .we-do .text,
  .advertising .text,
  .markit .text {
    width: 385px;
  }
  .markit .wrap {
    width: 950px;
  }
}

@media (max-width: 1100px) {
  .choise h2,
  .choise>p {
    margin-bottom: 20px;
    margin-top: 0;
  }
  .elements {
    display: inline-block;
    width: 100%;
  }
  .element {
    width: 40%;
    display: inline-block;
    margin: 0 auto;
  }
  .elements p {
    margin-bottom: 1.9vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .element .shape {
    margin: -10px;
    transform: scale(0.8);
  }
  .heading {
    width: 80%;
    top: 30vh;
  }
  .heading h1 {
    font-size: 4vw;
  }
  .heading p {
    font-size: 1.8vw;
  }
  .header .button-wrap button {
    padding: 12px 4.5vw;
    font-size: 1.95vw;
  }
}

@media (max-width: 1000px) {
  .we-do .text,
  .advertising .text,
  .markit .text {
    display: block;
    margin: 0 auto;
  }
  .we-do h1,
  .portfolio h1 {
    margin: 0vh auto 7vh auto;
    top: 3vh;
  }
  .we-do .image,
  .advertising .image,
  .markit .image {
    width: 565px;
    display: block;
    margin: 0 auto;
  }
  .we-do button,
  .advertising button,
  .markit button,
  .portfolio button {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    background-color: #fc635e;
    border: none;
    padding: 1.5vh 6vh;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 2vh;
    margin-bottom: 2vw;
  }
  .we-do .wrap,
  .advertising .wrap,
  .markit .wrap {
    width: 100%;
    margin: 0 auto;
  }
  .we-do .image,
  .advertising .image,
  .markit .image {
    width: 565px;
    display: block;
    margin: 0 auto;
    transform: scale(0.9);
  }
  .advertising {
    padding-top: 10px;
  }
  .advertising text {
    width: 500px !important;
  }
  .markit {
    padding-top: 1vh;
  }
  .portfolio .images {
    width: 525px;
    margin: 9vh auto;
  }
  .portfolio img {
    width: 120px;
    height: 100px;
  }
  .row1 a:first-child img,
  .row2 a:last-child img {
    width: 250;
  }
  .images a:hover::after {
    top: -3px;
    left: 35px;
  }
  .row1 a:first-child:hover::after,
  .row2 a:last-child:hover::after {
    top: -5px;
    left: 95px;
  }
  .portfolio nav {
    width: 520px;
    font-size: 18px;
  }
  .portfolio ul li:not(:last-child)::after {
    margin: 0 15px;
  }
  .member {
    margin-right: 60px;
  }
  .members {
    width: 708px;
  }
  .person {
    width: 825px;
  }
}

@media (max-width: 830px) {
  .person {
    width: 632px;
  }
  .person p {
    width: 200px;
  }
}

@media (max-width: 810px) {
  .steps {
    background-image: none;
    display: block;
    margin-left: 10vw;
    margin-top: 15%;
    width: 100%;
    min-width: 100%;
  }
  .steps>* {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 10vh;
    margin-right: 5vw;
    width: 40%;
    display: inline-block;
  }
  .steps>* p {
    width: 100%;
  }
  .steps>* a::before {
    position: absolute;
    top: 0;
    left: 2%;
  }
  .step1::after {
    display: none;
  }
  .step4 {
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
  }
  .step4 a::after {
    display: none;
  }
}

@media (max-width: 700px) {
  .header nav button {
    display: block;
  }
  .header nav ul {
    display: block;
    opacity: 0;
    position: absolute;
    width: 145px;
    background-color: rgba(252, 100, 95, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #232021;
  }
  .header nav ul a {
    margin: 10px 0 10px 30px;
    display: block;
    height: 30px;
    box-sizing: border-box;
    opacity: 0;
  }
  .heading h1::before,
  .heading h1::after {
    height: 5px;
  }
  .heading h1 {
    font-size: 6vw;
  }
  .heading {
    width: 100%;
  }
  .heading p {
    font-size: 5vw;
  }
  .heading p span {
    display: block;
  }
  .header .button-wrap button {
    font-size: 18px;
    margin-left: -5vw;
  }
  .member {
    margin: 0 10px;
    display: block;
    position: relative;
    left: 0;
    height: 185px;
    width: 540px;
    margin: 0 auto;
    margin-right: 0;
  }
  .members {
    width: 100%;
  }
  .team .h2 {
    margin: 15px auto;
    text-align: center;
    padding-bottom: 0px;
  }
  .member img {
    margin: 0 10px;
  }
  .team h3,
  .member p,
  .member .wrapper {
    position: relative;
    top: -155px;
    width: 200px;
    margin: 0 auto;
  }
  .member .wrapper {
    width: 161px;
    margin-top: 10px;
  }
}

@media (max-width: 580px) {
  .person p:first-child {
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 51%;
    margin-top: 20px;
  }
  .buttons {
    margin: 20vh auto 0 auto;
  }
}

@media (max-width: 525px) {
  .choise>p {
    width: 100%;
    margin: 0;
    font-size: 16px;
  }
  .element {
    display: block;
    margin: 10px auto;
    width: 100%;
    position: relative;
  }
  .element p {
    display: none;
  }
  .element .shape {
    margin: -30px;
    transform: scale(0.5);
  }
  .element h3::after {
    display: none;
  }
  .element h3 {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    margin-top: 30px;
  }
  .element h3,
  .element .shape {
    display: inline-block;
  }
  .elements h2 {
    margin-top: -100px;
  }
  .choise {
    margin-top: 0;
  }
  .join .wrapper {
    width: 70vw;
  }
  .join .wrapper h1 {
    font-size: 5vw;
    width: 80%;
  }
  .join button {
    font-size: 20px;
    width: 150px;
    padding: 12px 35px;
  }
  .process div.text {
    width: 100%;
    margin: 20px 0;
  }
  .process .text p {
    font-size: 18px;
  }
  .steps {
    margin-top: 0;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .steps>* {
    width: 90%;
    margin-bottom: 2vh;
  }
  .steps>* p {
    width: 80%;
    margin: 0 auto;
  }
  .steps>* a::before {
    left: 10%;
  }
  .steps .step4 {
    width: 90%
  }
  .we-do .text,
  .advertising .text,
  .markit .text {
    width: 100%;
  }
  .we-do .image,
  .advertising .image,
  .markit .image {
    display: block;
    transform: scale(0.5);
    position: relative;
    left: -130px;
    top: -72px;
  }
  .we-do h2,
  .advertising h2,
  .markit h2 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .we-do h1,
  .portfolio h1 {
    margin: 0vh auto 2vh auto;
    top: 0vh;
  }
  .advertising .text,
  .markit .text {
    width: 90% !important;
    position: relative !important;
    right: 1% !important;
  }
  .advertising .image,
  .markit .image {
    transform: scale(0.5);
    left: -110px;
    top: 0px;
  }
  .portfolio .images a {
    display: inline-block;
    background-color: #fff;
    width: 120px;
  }
  .row1 a:nth-child(2),
  .row2 a:nth-child(1) {
    margin-left: 10vw;
  }
  .row1 a:first-child,
  .row2 a:last-child {
    width: 250px;
    display: block;
    background-color: #fff;
    margin-left: 10vw;
  }
  .images a:hover::after {
    top: -3px;
    left: 35px;
  }
  .row1 a:first-child:hover::after,
  .row2 a:last-child:hover::after {
    top: -5px;
    left: 95px;
  }
  .portfolio h1 {
    display: none;
  }
  .portfolio nav {
    width: 100%;
    font-size: 18px;
    padding: 10px;
  }
  .portfolio ul li:not(:last-child)::after {
    margin: 0 5px;
  }
  .portfolio .images {
    margin: 0;
  }
  .portfolio button {
    font-size: 16px;
    padding: 10px;
  }
  .team h2 {
    margin: 5px auto;
  }
  .member {
    width: 500px;
    margin-right: 200px;
  }
  .team h3,
  .member p,
  .member .wrapper {
    margin-left: 40vw;
  }
  .team h3 {
    font-size: 8vw;
    width: 30%;
  }
  .member p {
    position: relative;
    right: 25px;
  }
  .member a {
    margin-right: 3vw;
  }
  .member .wrapper {
    margin-top: 0;
  }
  .member .wrapper a {
    margin-right: 2vw;
  }
}

@media (max-width: 375px) {
  .member {
    height: 45vw;
  }
  .member img {
    width: 35vw;
  }
  .team h3,
  .member p,
  .member .wrapper {
    top: -90%;
  }
  .person>* {
    display: block !important;
  }
  .person {
    width: 100%;
  }
  .person p:first-child {
    position: relative !important;
    top: 0;
    left: 0 !important;
    margin-bottom: 20px;
    width: 90%;
  }
  .person img {
    width: 160px;
    margin: 0 auto;
  }
  .buttons {
    margin: 0 auto;
  }
  .ceo .txt-wrap {
    width: 200px;
    margin: 20px auto;
  }
}

@media (max-height: 533px) and (max-width: 320px) {
  .process .text p {
    font-size: 15px;
  }
  .process .text h2 {
    font-size: 27px;
  }
  .person h2 {
    margin-bottom: 0 !important;
  }
  .ceo .txt-wrap {
    margin: 0 auto !important;
  }
  .ceo .buttons button:last-child {
    margin: 10px 0 0 20px;
  }
}

@media (min-width: 1024px) {
  .header .button-wrap {
    left: 43%;
    width: 29%;
  }
}

@media (min-width: 701px) {
  .header nav ul,
  .header nav ul a {
    opacity: 1 !important;
  }
}

@media (max-height: 720px) {
  .process .text {
    width: 41%;
    margin: 1% auto;
  }
}