.choise .Clients .shape::after,
.choise .Branding .shape::after,
.choise .Marketing .shape::after,
.choise .Adv .shape::after,
.choise .elements .Clients:hover .shape::after,
.choise .elements .Branding:hover .shape::after,
.choise .elements .Marketing:hover .shape::after,
.choise .elements .Adv:hover .shape::after,
.choise .shape,
.choise .elements .element:hover .shape {
  content: '';
  position: relative;
  display: inline-block;
  top: 30%;
  left: 0;
  background: url('../img/iconset.png') no-repeat;
}

.choise .shape {
  background-position: -473px -94px;
  width: 101px;
  height: 116px;
  top: 0;
}
.choise .elements .element:hover .shape {
  background-position: -597px -94px;
  top: 0;
}

.choise .Clients .shape::after {
  background-position: -88px -58px;
  width: 34px;
  height: 39px;
}

.choise .Branding .shape::after {
  background-position: -141px -53px;
  width: 41px;
  height: 38px;
}

.choise .Marketing .shape::after {
  background-position: -201px -59px;
  width: 37px;
  height: 37px;
}

.choise .Adv .shape::after {
  background-position: -255px -58px;
  width: 37px;
  height: 38px;
}

.choise .elements .Clients:hover .shape::after {
  background-position: -88px 0;
}

.choise .elements .Branding:hover .shape::after {
  background-position: -141px -1px;
}

.choise .elements .Marketing:hover .shape::after {
  background-position: -201px -1px;
}

.choise .elements .Adv:hover .shape::after {
  background-position: -255px 0;
}